/Features/
/MapKeyframes/
/core/static/Keyframes/
/core/static/Resized_keyframes/
/core/static/Video/
/core/nhap.py
/core/templates/image.html
/result
/queries-p0
/core/uploads
/objects
/query
/core/static/CustomPhoto/
/MetaData
/resize.py
/yolov8n.pt
/et HEAD~1
/core/templates/form.html
/core/templates/nhap.html
/core/templates/result.html
/core/ocr.py
/core/zz.py
/core/zzz.py
/CRAFT-pytorch
